{% extends "ex/main_page.html" %}
{% load bootstrap3 %}
{% block title %}
    <title>Экскурсии</title>
{% endblock %}
{% block content %}
{% if Error_message %}
    <p>{{Error_message}}</p>
{% else %}
    <div class="col-lg-3 col-md-4 col-xs-12" style="background-color: #F5F5F5; border-radius: 3px; height: auto;">
        <ul class="nav nav-pills nav-stacked" >
            {% if slug %}
                {% for ex in list_of_excursions %}
                    {% if ex.slug == slug %}
                        <li class="active"><a href="{% url 'ex:excursions' ex.slug %}">{{ex.name}}</a></li>
                    {% else %}
                        <li><a href="{% url 'ex:excursions' ex.slug %}">{{ex.name}}</a></li>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for ex in list_of_excursions %}
                    {% if forloop.counter == 1 %}
                        <li class="active"><a href="{% url 'ex:excursions' ex.slug %}">{{ex.name}}</a></li>
                    {% else %}
                        <li><a href="{% url 'ex:excursions' ex.slug %}">{{ex.name}}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    </div>
    <div class="col-lg-9 col-md-8 col-xs-12" style="margin-top:0px;">
            <h1 style="margin-top: 0;">{{first.name}}</h1><br>
                {% if img %}
                    {% for one in img %}
                        <a href="{{one.img.url}}" class="flipLightBox">
                            <img src="{{one.img.url}}" style="width: 150px ; height: 150px; padding-bottom: 5px;">
                                <span>{% if one.img_alt %}{{one.img_alt}}{% endif %}</span></a>
                    {% endfor %}
                {% endif %}
            <p>{{first.description| safe}}</p>
            <button class="btn btn-primary">
                {% bootstrap_icon "star" %}<a id="for_button" href="{% url 'ex:registration' %}?id={{first.id}}"> Записаться</a>
            </button>
    </div>
{% endif %}
{% endblock %}
{% block main_act %}{% endblock %}
{% block ex_act %}class="active"{% endblock %}
{% block rasp_act %}{% endblock %}
{% block zap_act %}{% endblock %}>
{% block cont_act %}{% endblock %}>
{% block blog %}{% endblock %}