{% extends "ex/index.html" %}
{% load bootstrap3 %}
{% load thumbnail %}
{% block title %}
    <title>Экскурсии</title>
{% endblock %}
{% block content %}
{% if Error_message %}
    <p>{{Error_message}}</p>
{% else %}
    <div class="col-lg-3 col-md-4 col-xs-12" >
        <ul id="ex-navs" class="nav nav-pills nav-stacked" >
            {% if slug %}
                {% for ex in list_of_excursions %}
                    {% if ex.slug == slug %}
                        <li class="active"><a href="{% url 'ex:excursions' ex.slug %}">{{ex.name|safe}}</a></li>
                    {% else %}
                        <li><a href="{% url 'ex:excursions' ex.slug %}">{{ex.name|safe}}</a></li>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for ex in list_of_excursions %}
                    {% if forloop.counter == 1 %}
                        <li class="active"><a href="{% url 'ex:excursions' ex.slug %}">{{ex.name|safe}}</a></li>
                    {% else %}
                        <li><a href="{% url 'ex:excursions' ex.slug %}">{{ex.name|safe}}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    </div>
    <div class="col-lg-9 col-md-8 col-xs-12" style="margin-top:0px; margin-bottom: 20px">
            <h1 class="text-center">{{first.name|safe}}</h1><br>
                {% if img %}
                    <div class="block_with_photos" style="width: 95%; margin: auto;">
                    {% for one in img %}
                            <a href="{{one.img.url}}" class="flipLightBox">
                                {% thumbnail one.img "150x150" crop="center" as im %}
                                    <img src="{{im.url}}"  width="{{ im.width }}" height="{{ im.height }}">
                                {% endthumbnail %}
                                <span>{% if one.img_alt %}{{one.img_alt}}{% endif %}</span></a>
                    {% endfor %}
                    </div>
                {% endif %}
            <div style="overflow: hidden";><p>{{first.description| safe}}</p></div>
            <div style="margin-top: 50px;">
            <button class="btn btn-primary">
                {% bootstrap_icon "star" %}<a id="for_button" href="{% url 'ex:registration' %}?id={{first.id}}"> Записаться</a>
            </button>
            </div>
    </div>
{% endif %}
{% endblock %}
{% block main_act %}{% endblock %}
{% block ex_act %}class="active"{% endblock %}
{% block rasp_act %}{% endblock %}
{% block zap_act %}{% endblock %}>
{% block cont_act %}{% endblock %}>
{% block blog %}{% endblock %}