{% extends "ex/main_page.html" %}
{% block title %}
    <title>Запись на экскурсию</title>
{% endblock %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
{% for human in people %}
    <p>{{human.event}}   {{human.name}}   {{human.email}}   {{human.phone}}</p>
{% endfor %}
{% endblock %}
{% block main_act %}{% endblock %}
{% block ex_act %}{% endblock %}
{% block rasp_act %}{% endblock %}
{% block zap_act %}class="active"{% endblock %}>
{% block cont_act %}{% endblock %}>