{% extends "ex/index.html" %}
{% load bootstrap3 %}
{% block title %}
    <title>Отзывы</title>
{% endblock %}
{% block content %}
{% for review in reviews %}
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-3 col-xs-12">
                <p style="color: #D3D3D3;">{{review.date|date:"d E Y"}}</p>
                <h4 style="margin-bottom: 0;"><b>Экскурсия</b></h4>
                <p style="overflow: hidden;">{{review.excursion}}</p>
                <h4 style="margin-bottom: 0;"><b>Дата посещения</b></h4>
                <p>{{review.event_date|date:"d E Y"}}</p>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-9 col-xs-12">
                <p>{{review.text | safe}}</p>
            </div>
        </div>
    </div>
    <br>
    <hr>
{% endfor %}
<form method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "ok" %} Оставить отзыв
    </button>
  {% endbuttons %}
</form>
<div class="text-center">
    <div class="pagination">
        <span class="step-links">
            {% if reviews.has_previous %}
                <a href="{% url 'ex:reviews' %}?page={{ reviews.previous_page_number }}">Предыдущая</a>&nbsp;&nbsp;&nbsp;
            {% endif %}
            <span class="current">
                {{ reviews.number }} из {{ reviews.paginator.num_pages }}
            </span>
            {% if reviews.has_next %}
                &nbsp;&nbsp;&nbsp; <a href="{% url 'ex:reviews' %}?page={{ reviews.next_page_number }}">Следующая</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}
{% block main_act %}{% endblock %}
{% block ex_act %}{% endblock %}
{% block rasp_act %}{% endblock %}
{% block zap_act %}{% endblock %}>
{% block cont_act %}{% endblock %}>
{% block reviews_act %}class="active"{% endblock %}>
{% block blog %}{% endblock %}
