.jumbo {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-right: 10%;
  margin-left: 10%;
  color: inherit;
  background-color: rgba(0, 120, 201, 0.2);
  border-radius: 12px;
}


.jumbo .question { display: none; }
.jumbo:hover .point { display: none; }
.jumbo:hover .question { display: inline; }


.jumbo h1,
.jumbo .h1 {
  color: inherit;
}
.jumbo p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.jumbo > hr {
  border-top-color: #d5d5d5;
}
.container .jumbo,
.container-fluid .jumbo {
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 6px;
}
.jumbo .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .jumbo {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .jumbo,
  .container-fluid .jumbo {
    padding-right: 60px;
    padding-left: 60px;
  }
  .jumbo h1,
  .jumbo .h1 {
    font-size: 63px;
  }
}

.nav-pills > li > a {
border-radius: 8px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
color: inherit;
background-color: rgba(0, 120, 201, 1);
}

.center_place{
overflow: auto;
margin-right: 5%;
margin-bottom: 5%;
margin-left: 5%;
padding-left: 5%;
padding-right: 5%;
padding-top: 2%;
padding-bottom: 2%;
background-color: #FFFFFF;
border-radius: 6px;
}
.imp_message{
overflow: auto;
margin-top: auto;
padding-left: 5%;
padding-right: 5%;
padding-top: 2%;
padding-bottom: 2%;
background-color: inherit;
}


#id_event_date{
border-color: #FFFFFF;
}


.like {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.like:focus,
.like.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.like:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.like:active,
.like.active,
.open > .dropdown-toggle.like {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.like:active:hover,
.like.active:hover,
.open > .dropdown-toggle.like:hover,
.like:active:focus,
.like.active:focus,
.open > .dropdown-toggle.like:focus,
.like:active.focus,
.like.active.focus,
.open > .dropdown-toggle.like.focus {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}
.like:active,
.like.active,
.open > .dropdown-toggle.like {
  background-image: none;
}
.like.disabled:hover,
.like[disabled]:hover,
fieldset[disabled] .like:hover,
.like.disabled:focus,
.like[disabled]:focus,
fieldset[disabled] .like:focus,
.like.disabled.focus,
.like[disabled].focus,
fieldset[disabled] .like.focus {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.like .badge {
  color: #5cb85c;
  background-color: #fff;
}


.dislike {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.dislike:focus,
.dislike.focus {
  color: #fff;
  background-color: #31b0d5;
  border-color: #1b6d85;
}
.dislike:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.dislike:active,
.dislike.active,
.open > .dropdown-toggle.dislike {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.dislike:active:hover,
.dislike.active:hover,
.open > .dropdown-toggle.dislike:hover,
.dislike:active:focus,
.dislike.active:focus,
.open > .dropdown-toggle.dislike:focus,
.dislike:active.focus,
.dislike.active.focus,
.open > .dropdown-toggle.dislike.focus {
  color: #fff;
  background-color: #269abc;
  border-color: #1b6d85;
}
.dislike:active,
.dislike.active,
.open > .dropdown-toggle.dislike {
  background-image: none;
}
.dislike.disabled:hover,
.dislike[disabled]:hover,
fieldset[disabled] .dislike:hover,
.dislike.disabled:focus,
.dislike[disabled]:focus,
fieldset[disabled] .dislike:focus,
.dislike.disabled.focus,
.dislike[disabled].focus,
fieldset[disabled] .dislike.focus {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.dislike .badge {
  color: #5bc0de;
  background-color: #fff;
}

#for_button{
text-decoration: none;
color: #FFFFFF; /* Цвет текста */
}

