/*
************
my classes
************
*/
html,
body,
#center {
  height: 100%;
}


html {
  min-height: 100%;
  overflow-y: scroll;
}



body {
font-family: "PT Sans";
background: #FFFFFF;
color: #000;
font-size: 17px;
line-height: 25px;
background: url("../images/foggy_birds.png") repeat;
min-height: 100%;
}


#center {
    min-height: 100%;
    padding-left: 0;
    padding-right: 0;
    background: #FFFFFF;
    position: relative;
}


.content{
  padding-top:20px;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  min-height: 100%;
  height: auto;
  padding-bottom: 40px;
  background: inherit;
  box-shadow:
            5px 0 15px rgba(0, 0, 0, 0.1),
            -5px 0 15px rgba(0, 0, 0, 0.1);
}


footer {
  height: 30px;
  margin-top: -30px;
  background: #FFD673;
  background: linear-gradient(to top, #FFD673, #FFc740) ;
  box-shadow:
            5px 0 15px rgba(0, 0, 0, 0.1),
            -5px 0 15px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  line-height: 12px;
  padding: 9px 15px 9px 15px;
}

footer > #lwords{
  float: left;
  width: 50%;
}

footer > #rwords{
  float: right;
  text-align: right;
}

/**
#footer{
  position: absolute;
  bottom: 0;
  height: 100px;
  background-color: rgba(112, 128, 144, 1);
  color: #FF6200;
}
**/



#id_event_date{
border-color: #FFFFFF;
}


#for_button{
text-decoration: none;
color: #FFFFFF; /* Цвет текста */
}


.sidebar {
  min-height: 100vh;
  background: #F5F5F5;
  background: url("../images/foggy_birds.png") repeat;
}


h1{
  font-family: "Lemon Tuesday";
  color: #FF6200;
}


h4{
  color: #FF6200;
}


.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 35px;
  line-height: 20px;
  font-family: "Nautilus Pompilius";
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
.navbar-brand > img {
  display: block;
}

@media (max-width: 500px) {
  footer {
    display: none;
  }
  .content {
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 850px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

#foot{
  color: inherit;
}

#foot:hover{
color: #0c3c26;
font-weight: bold;

}


#ex-navs{
  font-weight: bold;
  line-height: 20px;
}
/*
************
changed bootstrap classes
************
*/


.nav-pills > li > a {
border-radius: 6px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
color: inherit;
background-color: rgba(0, 120, 201, 0.3);
}




.like {
  color: #fff;
  background-color: rgba(0, 120, 201, 1);
  border-color: rgba(0, 120, 201, 1);
}
.like:focus,
.like.focus {
  color: #fff;
  background-color: rgba(0, 120, 201, 1);
  border-color: rgba(0, 120, 201, 1);
}
.like:hover {
  color: #fff;
  background-color: rgba(0, 120, 201, 0.5);
  border-color: rgba(0, 120, 201, 0.5);
}

.dislike {
  color: #fff;
  background-color: rgba(0, 120, 201, 0.5);
  border-color: rgba(0, 120, 201, 0.5);
}
.dislike:focus,
.dislike.focus {
  color: #fff;
  background-color: rgba(0, 120, 201, 0.5);
  border-color: rgba(0, 120, 201, 0.5);
}
.dislike:hover {
  color: #fff;
background-color: rgba(0, 120, 201, 1);
  border-color: rgba(0, 120, 201, 1);
}



.navbar-inverse {
  background: #FFD673;
  background: linear-gradient(to top, #FFD673, #FFc740) ;
  border-color: #FFAD40;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow:
            5px 0 15px rgba(0, 0, 0, 0.1),
            -5px 0 15px rgba(0, 0, 0, 0.1);

}
.navbar-inverse .navbar-brand {
  color: #FF2C00;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #FF6200;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #2F4F4F;
}
.navbar-inverse .navbar-nav > li > a {
  color: #a65f00;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #FF6200;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #FFD673;
  background-color: #a65f00;
  border-radius: 6px;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #333;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #333;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #101010;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #080808;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #FFD673;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #FFD673;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
.navbar-inverse .navbar-link {
  color: #9d9d9d;
}
.navbar-inverse .navbar-link:hover {
  color: #fff;
}
.navbar-inverse .btn-link {
  color: #9d9d9d;
}
.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
  color: #fff;
}
.navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus {
  color: #444;
}



/*
************
FONTS
************
*/
/* Generated by ParaType Ltd (http://www.paratype.com)*/
/* Font PT Serif:  Copyright ? 2010 ParaType Ltd. All rights reserved.*/

@font-face {font-family: 'PT Sans';
	src: url('../fonts/pts55f_w.eot');
	src: local('PT Sans'), url('../fonts/PTS55F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS55F_W.woff') format('woff'),url('../fonts/PTS55F_W.ttf') format('truetype'), url('../fonts/PTS55F_W.svg#PTSans-Regular') format('svg');}

@font-face {font-family: 'PT Sans';
	font-style: italic;
	src: url('../fonts/pts56f_w.eot');
	src: local('PT Sans Italic'), url('../fonts/PTS56F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS56F_W.woff') format('woff'),url('../fonts/PTS56F_W.ttf') format('truetype'), url('../fonts/PTS56F_W.svg#PTSans-Italic') format('svg');}

@font-face {font-family: 'PT Sans';
	src: url('../fonts/pts75f_w.eot');
	font-style: normal;
	font-weight: bold;
	src: local('PT Sans Bold'), url('../fonts/PTS75F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS75F_W.woff') format('woff'),url('../fonts/PTS75F_W.ttf') format('truetype'), url('../fonts/PTS75F_W.svg#PTSans-Bold') format('svg');}

@font-face {font-family: 'PT Sans';
	font-style: italic;
	font-weight: bold;
	src: url('../fonts/pts76f_w.eot');
	src: local('PT Sans Bold Italic'), url('../fonts/PTS76F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS76F_W.woff') format('woff'),url('../fonts/PTS76F_W.ttf') format('truetype'), url('../fonts/PTS76F_W.svg#PTSans-BoldItalic') format('svg');}

@font-face {font-family: 'PT Sans Caption';
	src: url('../fonts/ptc55f_w.eot');
	src: local('PT Sans Caption'), url('../fonts/PTC55F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTC55F_W.woff') format('woff'),url('../fonts/PTC55F_W.ttf') format('truetype'), url('../fonts/PTC55F_W.svg#PTSans-Caption') format('svg');}

@font-face {font-family: 'PT Sans Caption';
	font-weight: bold;
	src: url('../fonts/ptc75f_w.eot');
	src: local('PT Sans Caption Bold'), url('../fonts/PTC75F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTC75F_W.woff') format('woff'),url('../fonts/PTC75F_W.ttf') format('truetype'), url('../fonts/PTC75F_W.svg#PTSans-CaptionBold') format('svg');}

@font-face {font-family: 'PT Sans Narrow';
	src: url('../fonts/ptn57f_w.eot');
	src: local('PT Sans Narrow'), url('../fonts/PTN57F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTN57F_W.woff') format('woff'),url('../fonts/PTN57F_W.ttf') format('truetype'), url('../fonts/PTN57F_W.svg#PTSans-Narrow') format('svg');}

@font-face {font-family: 'PT Sans Narrow';
	font-weight: bold;
	src: url('../fonts/ptn77f_w.eot');
	src: local('PT Sans Narrow Bold'), url('../fonts/PTN77F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTN77F_W.woff') format('woff'),url('../fonts/PTN77F_W.ttf') format('truetype'), url('../fonts/PTN77F_W.svg#PTSans-NarrowBold') format('svg');}

/* font-family: "LobsterRegular"; */
@font-face {
    font-family: "LobsterRegular";
    src: url("../fonts/LobsterRegular.eot");
    src: url("../fonts/LobsterRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LobsterRegular.woff") format("woff"),
    url("../fonts/LobsterRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Nautilus Pompilius';
    src: local('Nautilus Pompilius'), local('NautilusPompilius'), url('../fonts/nautiluspompilius.woff2') format('woff2'), url('../fonts/nautiluspompilius.woff') format('woff'), url('../fonts/nautiluspompilius.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Lemon Tuesday';
    src: local('Lemon Tuesday'), local('LemonTuesday'), url('../fonts/Lemontuesday.woff2') format('woff2'), url('../fonts/Lemontuesday.woff') format('woff'), url('../fonts/Lemontuesday.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

